<a href="https://colab.research.google.com/github/ECV21/Automatios_Python/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from io import StringIO

In [ ]:
# ----------------------------
# 1. Función para limpiar una base
# ----------------------------
def limpiar_base(df_raw):
    print("=== Base sucia ===")
    print(df_raw)

    # Eliminar duplicados exactos
    df_clean = df_raw.drop_duplicates()

    # Eliminar filas con nulos en columnas clave y crear copia segura
    df_clean = df_clean.dropna(subset=["nombre", "edad", "fecha"]).copy()

    # Convertir tipos
    df_clean.loc[:, "edad"] = df_clean["edad"].astype(int)
    df_clean.loc[:, "fecha"] = pd.to_datetime(df_clean["fecha"])

    print("\n=== Base limpia ===")
    print(df_clean)

    return df_clean

In [ ]:
# ----------------------------
# 2. Función para agregar nueva data al histórico
# ----------------------------
def agregar_al_historico(historico_df, nuevo_df, clave="id"):
    # Concatenar y eliminar duplicados por la clave
    df_actualizado = pd.concat([historico_df.copy(), nuevo_df.copy()])
    df_actualizado = df_actualizado.drop_duplicates(subset=[clave])

    print("\n=== Histórico actualizado ===")
    print(df_actualizado)

    return df_actualizado

In [ ]:
# ----------------------------
# 3. Función para guardar el DataFrame final (opcional)
# ----------------------------
def guardar_csv(df, nombre_archivo="Historico_Actualizado.csv"):
    df.to_csv(nombre_archivo, index=False)
    from google.colab import files
    files.download(nombre_archivo)

In [ ]:
# 1. Cargar y limpiar la base sucia
df_raw = pd.read_csv("Data.csv")
df_historico = limpiar_base(df_raw)

=== Base sucia ===
    id     nombre  edad       fecha
0    1        Ana  25.0  2023-06-01
1    2       Juan  30.0  2023-06-01
2    3      María   NaN  2023-06-01
3    4      Pedro  22.0  2023-06-01
4    2       Juan  30.0  2023-06-01
5    5        NaN  28.0  2023-06-01
6    6  Alejandro  27.0  2023-06-01
7    7        Ana  25.0  2023-06-01
8    8       Luis  31.0         NaN
9    9       Luis  31.0  2023-06-01
10  10      Marta  28.0  2023-06-01
11  11      Sofía  29.0  2023-07-15
12  12     Carlos  35.0  2023-08-20
13  13      Elena  23.0  2023-09-05
14  14    Ricardo  40.0  2023-10-10
15  15      Laura  26.0  2023-11-25
16  16      Diego  33.0  2023-12-01
17  17     Isabel  24.0  2024-01-01
18  18   Fernando  38.0  2024-02-14
19  19     Carmen  30.0  2024-03-01
20  20     Javier  32.0  2024-04-04

=== Base limpia ===
    id     nombre  edad                fecha
0    1        Ana  25.0  2023-06-01 00:00:00
1    2       Juan  30.0  2023-06-01 00:00:00
3    4      Pedro  22.0  2023-06-01 00:00:00
6    6  Alejandro  27.0  2023-06-01 00:00:00
7    7        Ana  25.0  2023-06-01 00:00:00
9    9       Luis  31.0  2023-06-01 00:00:00
10  10      Marta  28.0  2023-06-01 00:00:00
11  11      Sofía  29.0  2023-07-15 00:00:00
12  12     Carlos  35.0  2023-08-20 00:00:00
13  13      Elena  23.0  2023-09-05 00:00:00
14  14    Ricardo  40.0  2023-10-10 00:00:00
15  15      Laura  26.0  2023-11-25 00:00:00
16  16      Diego  33.0  2023-12-01 00:00:00
17  17     Isabel  24.0  2024-01-01 00:00:00
18  18   Fernando  38.0  2024-02-14 00:00:00
19  19     Carmen  30.0  2024-03-01 00:00:00
20  20     Javier  32.0  2024-04-04 00:00:00

In [ ]:
# 2. Leer y limpiar la nueva data a agregar
df_nuevo_raw = pd.read_csv("Data Agregada.csv")
df_nuevo = limpiar_base(df_nuevo_raw)

=== Base sucia ===
     id    nombre  edad       fecha
0   100   Ejemplo    99  2022-01-01
1   101       Ana    25  2022-01-05
2   102      Juan    30  2022-02-10
3   103     María    27  2022-03-15
4   104     Pedro    22  2022-04-20
5   105     Sofía    29  2022-05-25
6   106    Carlos    35  2022-06-30
7   107     Elena    23  2022-07-05
8   108   Ricardo    40  2022-08-10
9   109     Laura    26  2022-09-15
10  110     Diego    33  2022-10-01
11  111    Isabel    24  2022-11-01
12  112  Fernando    38  2022-11-25
13  113    Carmen    30  2022-12-10
14  114    Javier    32  2023-01-15
15  115     Lucía    28  2023-02-20
16  116    Andrés    31  2023-03-25
17  117     Clara    26  2023-04-10
18  118    Samuel    36  2023-05-05
19  119   Natalia    34  2023-06-01

=== Base limpia ===
     id    nombre  edad                fecha
0   100   Ejemplo    99  2022-01-01 00:00:00
1   101       Ana    25  2022-01-05 00:00:00
2   102      Juan    30  2022-02-10 00:00:00
3   103     María    27  2022-03-15 00:00:00
4   104     Pedro    22  2022-04-20 00:00:00
5   105     Sofía    29  2022-05-25 00:00:00
6   106    Carlos    35  2022-06-30 00:00:00
7   107     Elena    23  2022-07-05 00:00:00
8   108   Ricardo    40  2022-08-10 00:00:00
9   109     Laura    26  2022-09-15 00:00:00
10  110     Diego    33  2022-10-01 00:00:00
11  111    Isabel    24  2022-11-01 00:00:00
12  112  Fernando    38  2022-11-25 00:00:00
13  113    Carmen    30  2022-12-10 00:00:00
14  114    Javier    32  2023-01-15 00:00:00
15  115     Lucía    28  2023-02-20 00:00:00
16  116    Andrés    31  2023-03-25 00:00:00
17  117     Clara    26  2023-04-10 00:00:00
18  118    Samuel    36  2023-05-05 00:00:00
19  119   Natalia    34  2023-06-01 00:00:00

In [ ]:
# 3. Agregar al histórico
df_actualizado = agregar_al_historico(df_historico, df_nuevo)

=== Histórico actualizado ===
     id     nombre  edad                fecha
0     1        Ana  25.0  2023-06-01 00:00:00
1     2       Juan  30.0  2023-06-01 00:00:00
3     4      Pedro  22.0  2023-06-01 00:00:00
6     6  Alejandro  27.0  2023-06-01 00:00:00
7     7        Ana  25.0  2023-06-01 00:00:00
9     9       Luis  31.0  2023-06-01 00:00:00
10   10      Marta  28.0  2023-06-01 00:00:00
11   11      Sofía  29.0  2023-07-15 00:00:00
12   12     Carlos  35.0  2023-08-20 00:00:00
13   13      Elena  23.0  2023-09-05 00:00:00
14   14    Ricardo  40.0  2023-10-10 00:00:00
15   15      Laura  26.0  2023-11-25 00:00:00
16   16      Diego  33.0  2023-12-01 00:00:00
17   17     Isabel  24.0  2024-01-01 00:00:00
18   18   Fernando  38.0  2024-02-14 00:00:00
19   19     Carmen  30.0  2024-03-01 00:00:00
20   20     Javier  32.0  2024-04-04 00:00:00
0   100    Ejemplo  99.0  2022-01-01 00:00:00
1   101        Ana  25.0  2022-01-05 00:00:00
2   102       Juan  30.0  2022-02-10 00:00:00
3   103      María  27.0  2022-03-15 00:00:00
4   104      Pedro  22.0  2022-04-20 00:00:00
5   105      Sofía  29.0  2022-05-25 00:00:00
6   106     Carlos  35.0  2022-06-30 00:00:00
7   107      Elena  23.0  2022-07-05 00:00:00
8   108    Ricardo  40.0  2022-08-10 00:00:00
9   109      Laura  26.0  2022-09-15 00:00:00
10  110      Diego  33.0  2022-10-01 00:00:00
11  111     Isabel  24.0  2022-11-01 00:00:00
12  112   Fernando  38.0  2022-11-25 00:00:00
13  113     Carmen  30.0  2022-12-10 00:00:00
14  114     Javier  32.0  2023-01-15 00:00:00
15  115      Lucía  28.0  2023-02-20 00:00:00
16  116     Andrés  31.0  2023-03-25 00:00:00
17  117      Clara  26.0  2023-04-10 00:00:00
18  118     Samuel  36.0  2023-05-05 00:00:00
19  119    Natalia  34.0  2023-06-01 00:00:00

In [ ]:
# 4. Guardar si quieres
# guardar_csv(df_actualizado)

In [ ]:
# Renombrar el DataFrame final para mantener orden
df_historico_consolidado = df_actualizado  # Esto solo renombra por claridad

# Guardar la base consolidada en un CSV
#df_historico_consolidado.to_csv("Historico_Consolidado.csv", index=False)

# Descargar el archivo desde Colab (opcional)
#from google.colab import files
#files.download("Historico_Consolidado.csv")

In [ ]:
# 2. Leer y limpiar la nueva data a agregar
df_nuevo_raw = pd.read_csv("Data Nueva 2.csv")
df_nuevo = limpiar_base(df_nuevo_raw)

=== Base sucia ===
   id  nombre  edad       fecha
0  21     Ana    25  2024-05-01
1  22  Carlos    36  2024-05-02
2  23   Elena    24  2024-05-03
3  24   Pedro    28  2024-05-04
4  25    Juan    31  2024-05-05
5  26   Marta    27  2024-05-06
6  27    Luis    33  2024-05-07
7  28   Laura    29  2024-05-08
8  29  Isabel    26  2024-05-09
9  30   Diego    34  2024-05-10

=== Base limpia ===
   id  nombre  edad                fecha
0  21     Ana    25  2024-05-01 00:00:00
1  22  Carlos    36  2024-05-02 00:00:00
2  23   Elena    24  2024-05-03 00:00:00
3  24   Pedro    28  2024-05-04 00:00:00
4  25    Juan    31  2024-05-05 00:00:00
5  26   Marta    27  2024-05-06 00:00:00
6  27    Luis    33  2024-05-07 00:00:00
7  28   Laura    29  2024-05-08 00:00:00
8  29  Isabel    26  2024-05-09 00:00:00
9  30   Diego    34  2024-05-10 00:00:00

In [ ]:
# 3. Agregar al histórico
df_actualizado = agregar_al_historico(df_historico_consolidado, df_nuevo)

=== Histórico actualizado ===
     id     nombre  edad                fecha
0     1        Ana  25.0  2023-06-01 00:00:00
1     2       Juan  30.0  2023-06-01 00:00:00
3     4      Pedro  22.0  2023-06-01 00:00:00
6     6  Alejandro  27.0  2023-06-01 00:00:00
7     7        Ana  25.0  2023-06-01 00:00:00
9     9       Luis  31.0  2023-06-01 00:00:00
10   10      Marta  28.0  2023-06-01 00:00:00
11   11      Sofía  29.0  2023-07-15 00:00:00
12   12     Carlos  35.0  2023-08-20 00:00:00
13   13      Elena  23.0  2023-09-05 00:00:00
14   14    Ricardo  40.0  2023-10-10 00:00:00
15   15      Laura  26.0  2023-11-25 00:00:00
16   16      Diego  33.0  2023-12-01 00:00:00
17   17     Isabel  24.0  2024-01-01 00:00:00
18   18   Fernando  38.0  2024-02-14 00:00:00
19   19     Carmen  30.0  2024-03-01 00:00:00
20   20     Javier  32.0  2024-04-04 00:00:00
0   100    Ejemplo  99.0  2022-01-01 00:00:00
1   101        Ana  25.0  2022-01-05 00:00:00
2   102       Juan  30.0  2022-02-10 00:00:00
3   103      María  27.0  2022-03-15 00:00:00
4   104      Pedro  22.0  2022-04-20 00:00:00
5   105      Sofía  29.0  2022-05-25 00:00:00
6   106     Carlos  35.0  2022-06-30 00:00:00
7   107      Elena  23.0  2022-07-05 00:00:00
8   108    Ricardo  40.0  2022-08-10 00:00:00
9   109      Laura  26.0  2022-09-15 00:00:00
10  110      Diego  33.0  2022-10-01 00:00:00
11  111     Isabel  24.0  2022-11-01 00:00:00
12  112   Fernando  38.0  2022-11-25 00:00:00
13  113     Carmen  30.0  2022-12-10 00:00:00
14  114     Javier  32.0  2023-01-15 00:00:00
15  115      Lucía  28.0  2023-02-20 00:00:00
16  116     Andrés  31.0  2023-03-25 00:00:00
17  117      Clara  26.0  2023-04-10 00:00:00
18  118     Samuel  36.0  2023-05-05 00:00:00
19  119    Natalia  34.0  2023-06-01 00:00:00
0    21        Ana  25.0  2024-05-01 00:00:00
1    22     Carlos  36.0  2024-05-02 00:00:00
2    23      Elena  24.0  2024-05-03 00:00:00
3    24      Pedro  28.0  2024-05-04 00:00:00
4    25       Juan  31.0  2024-05-05 00:00:00
5    26      Marta  27.0  2024-05-06 00:00:00
6    27       Luis  33.0  2024-05-07 00:00:00
7    28      Laura  29.0  2024-05-08 00:00:00
8    29     Isabel  26.0  2024-05-09 00:00:00
9    30      Diego  34.0  2024-05-10 00:00:00